body {
    background: wheat;
    font-family: 'Courier New', Courier, monospace;
}

h1{ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    padding-left: 50px;
}

h4{
    font-style: italic;
    text-align: center;
}

.quickBio {
    background-color:lightyellow;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#family{
    background-color: lightcyan;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{
    width: 25%;
    height: 25%;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .9;
}